@media (max-width: 1440px) {
  .wrapper {
    padding-left: 240px;
  }
  .header {
    grid-template-columns: 210px auto 268px;
  }
  .logo::before {
    width: 23px;
    height: 29px;
    left: 7.5px;
  }
  .sidebar {
    max-width: 210px;
  }
  .intro__slider .swiper-button-prev::before {
    left: 16px;
  }
  .intro__slider .swiper-button-next::before {
    left: 55px;
  }
  .gallery {
    grid-template-columns: 60% 40%;
  }
  .gallery__articles-title, .gallery__themes-title, .gallery__contacts-title {
    font-size: 24px;
    line-height: 35px;
  }
  .gallery__articles-items {
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row: auto;
    overflow-y: hidden;
    row-gap: 0;
  }
  .gallery__articles-item {
    margin-bottom: 20px;
  }
  .gallery__articles-items--pop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0;
  }
  .gallery__articles-items--man {
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 20px;
  }
  .gallery__themes-items a {
    font-size: 18px;
    line-height: 23px;
  }
  .social__title {
    font-size: 24px;
    line-height: 35px;
  }
  .post__item--menu {
    width: 333px;
  }
  .post__dropbtn,
  .post__nav_link a {
    font-size: 18px;
    line-height: 23px;
  }
  .post__title, .post__slides-title {
    font-size: 24px;
    line-height: 36px;
  }
  .post__link, .post__text, .post__text-end {
    font-size: 20px;
    line-height: 30px;
  }
  .post__social-link--lnk {
    padding: .7% 2.5%;
  }
  .services__list-image {
    padding: 55px 10px;
  }
  .sistems__list-image {
    padding: 255px 10px;
  }
  .sistems__list-cat {
    grid-template-columns: repeat(3, 1fr);
  }
  .search__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 26px;
  }
  .error__page-cod {
    font-size: 250px;
    line-height: 250px;
  }
  .error__page-text {
    font-size: 64px;
    line-height: 58px;
  }
}

@media (max-width: 1240px) {
  .intro__slider .swiper-button-prev::before {
    left: 10px;
  }
  .gallery {
    grid-template-columns: 55% 45%;
  }
  .footer__info {
    justify-content: space-between;
  }
  .footer__info-item {
    margin-left: 10px;
    font-size: 14px;
  }
  .post__item {
    max-width: 60%;
  }
  .services__list-image {
    padding: 35px 10px;
  }
  .sistems__list {
    gap: 20px;
  }
  .sistems__list-image {
    padding: 200px 10px;
  }
  .subcat__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
    column-gap: 20px;
    row-gap: 0;
  }
  .subcat__list-text {
    margin-bottom: 10px;
  }
}

@media (max-width: 1090px) {
  .post__item--menu {
    width: 300px;
  }
  .post__dropbtn,
  .post__nav_link a {
    font-size: 16px;
    line-height: 20px;
  }
  .post__social-link {
    padding: 0;
  }
  .post__social-link--lnk {
    padding: .1% 1.8%;
  }
  .post__social-image--lnk {
    padding-top: 4px;
    width: 30px;
    height: 41px;
  }
  .sistems__list-image {
    padding: 150px 10px;
  }
}

@media (max-width: 998px) {
  .header {
    grid-template-columns: 210px auto 268px 55px;
  }
  .header__menu-btn {
    display: block;
  }
  .breadcrumbs__link-main {
    display: none;
  }
  .breadcrumbs__link-icon {
    display: block;
    margin-top: 3px;
  }
  .wrapper {
    padding-left: 0;
  }
  .sidebar {
    display: none;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery__themes {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .gallery__themes-items {
    margin-top: 30px;
    padding-right: 30px;
    width: 48%;
  }
  .gallery__themes-items a {
    line-height: 35px;
  }
  .gallery__themes-image {
    display: none;
  }
  .gallery__themes-checklab,
  .gallery__themes-checklab a {
    font-size: 18px;
    line-height: 23px;
  }
  .gallery__themes-contacts {
    margin-top: 20px;
    width: 50%;
  }
  .social__items {
    margin-bottom: 0;
  }
  .post {
    flex-wrap: wrap;
  }
  .post__item {
    max-width: 100%;
    width: 100%;
  }
  .post__item--menu {
    margin-bottom: 30px;
    order: -1;
    position: static;
  }
  .post__dropdown {
    width: 60%;
  }
  .post__dropbtn,
  .post__nav_link a {
    font-size: 18px;
    line-height: 23px;
    color: #176EF0;
  }
  .post__social-link {
    padding: 5px;
  }
  .post__social-link--lnk {
    padding: 1% 5.9%;
  }
  .banners {
    display: none;
  }
  .footer {
    margin-left: 12px;
  }
  .footer__info-name a {
    color: #292929;
  }
  .sistems__list {
    margin-bottom: 65px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 57px;
  }
  .sistems__list-image {
    padding: 100px 10px;
  }
  .sistems__list-item {
    background-color: #EDEDED;
  }
  .sistems__list-cat {
    grid-template-columns: repeat(2, 1fr);
  }
  .search__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 26px;
  }
  .error__page-info {
    display: block;
    text-align: center;
  }
  .error__page-cod {
    margin: 0;
  }
}

@media (max-width: 860px) {
  .post__social-link--lnk {
    padding: 1.1% 5.5%;
  }
  .post__list-image {
    padding: 35px;
  }
  .sistems__intro-title {
    font-size: 24px;
    line-height: 26px;
  }
  .sistems__list-image {
    padding: 80px 10px;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 210px auto 55px;
  }
  .header__form-input {
    padding: 5px 40px 5px 10px;
  }
  .header__form-submit {
    right: 12px;
  }
  .header__btn {
    display: none;
  }
  .header__btn-menu {
    display: block;
  }
  .gallery__articles-items, .gallery__articles-items--pop, .gallery__articles-items--man {
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px 15px;
  }
  .gallery__themes {
    display: block;
    margin: 20px 0;
  }
  .gallery__themes-items {
    margin: 20px;
    width: 95%;
  }
  .gallery__themes-items a {
    line-height: 35px;
    color: #176EF0;
  }
  .gallery__themes-contacts {
    margin-top: 20px;
    width: 100%;
  }
  .footer__info {
    display: block;
  }
  .post__dropdown {
    width: 100%;
  }
  .post__social-link--lnk {
    padding: 1.2% 5.3%;
  }
  .services__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
  }
  .services__list-image {
    padding: 60px 10px;
  }
  .services__list--social {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
  }
  .sistems__list-image {
    padding: 60px 10px;
  }
}

@media (max-width: 670px) {
  .post__social-link--lnk {
    padding: 1.3% 5%;
  }
  .sistems__intro {
    display: block;
  }
  .sistems__intro-title {
    margin-bottom: 11px;
  }
  .sistems__list {
    margin-bottom: 65px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .sistems__list-image {
    padding: 95px 10px;
  }
  .subcat__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .subcat__list-image {
    height: 300px;
    width: 100%;
  }
  .error__page-info {
    margin-top: 30%;
  }
  .error__page-cod {
    font-size: 128px;
    line-height: 128px;
  }
  .error__page-text {
    font-size: 48px;
    line-height: 43px;
  }
}

@media (max-width: 540px) {
  .sidebar__menu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
  }
  .header {
    grid-template-columns: 190px auto 50px;
    gap: 10px;
  }
  .logo {
    padding: 9px 7px 5px 39px;
  }
  .breadcrumbs__list {
    display: block;
  }
  .breadcrumbs__item {
    margin-bottom: 11px;
  }
  .intro__slider .swiper-image {
    display: none;
  }
  .intro__slider .swiper-image--mobile {
    display: block;
    width: 100%;
    height: auto;
    max-height: 555px;
  }
  .intro__slider .swiper-pagination-bullets {
    bottom: 31px;
    left: 22px;
    width: 100%;
  }
  .gallery {
    margin-bottom: 0;
  }
  .gallery__articles-items {
    margin-bottom: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row: auto;
    overflow-y: hidden;
    row-gap: 0;
  }
  .gallery__articles-title--pop, .gallery__articles-items--pop {
    display: none;
  }
  .gallery__articles-items--man {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .social__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .footer {
    margin-left: 0;
  }
  .footer__info-items {
    display: block;
    margin-left: 10px;
  }
  .footer__info-item {
    margin-bottom: 5px;
  }
  .footer__info-divider {
    display: none;
  }
  .footer__info-name:first-child {
    border-top: 1px solid #AAA;
    padding-top: 7px;
    margin-top: 8px;
  }
  .post__social-link--lnk {
    padding: 1.7% 3.9%;
  }
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
  .services__list-item--none {
    display: none;
  }
  .services__list-image {
    padding: 65px 10px;
  }
  .services__list--social {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
  .sistems__list-image {
    padding: 70px 10px;
  }
  .search__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 430px) {
  .post__social-link--lnk {
    padding: 1.6% 3.0%;
  }
  .services__list-image {
    padding: 35px 10px;
  }
  .sistems__list-image {
    padding: 45px 10px;
  }
  .modal__dialog {
    padding: 50px 15px;
  }
  .modal-menu .modal-menu__info {
    padding: 0 20px;
  }
  .post__text-icon {
    font-size: 45px;
  }
  .modal-close {
    right: 20px;
  }
}

@media (max-width: 395px) {
  .header {
    grid-template-columns: 155px auto 50px;
    gap: 7px;
  }
  .header__form-input {
    padding: 5px 35px 5px 5px;
  }
  .header__form-submit {
    right: 5px;
  }
  .logo {
    padding: 11px 5px 10px 25px;
  }
  .logo::before {
    width: 18px;
    height: 23px;
    left: 3.5px;
    top: 11.5px;
  }
  .post__dropbtn,
  .post__nav_link a {
    font-size: 16px;
    line-height: 21px;
  }
  .post__social-link--lnk {
    padding: .8% 2.5%;
  }
}

@media (max-height: 420px) {
  .error__page-info {
    margin: 0;
  }
  .error__page-cod {
    font-size: 128px;
    line-height: 128px;
  }
  .error__page-text {
    font-size: 48px;
    line-height: 43px;
  }
}
